<h1>Create an account</h1>
<form method="POST" action="/users">
    <input placeholder="username" name="username" />
    <input placeholder="password" name="password" type="password" minlength="2" />
    <button type="submit">Create</button>
</form>