<h1>Account</h1>
<samp>username: <%= user.username %></samp>
<samp>password: <%= new Array(user.password.length).fill("*").join("") %></samp>
<nav>
    <a href="/users">Back to private area</a>
</nav>